@model EveShopping.Models.EDVMyLists

@{
    ViewBag.Title = "AddLists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Import static shopping lists</h2>
<h2>---------------- This page is under construction !!!</h2>