@model EveShopping.Models.EDVChangeLog

@{
    ViewBag.Title = "Change";
    ViewBag.FullTitle = "EVE-shopping, change log:  " + Model.Version;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Version.Equals("1.0.4"))
{

    <h3>Changes in version 1.0.4 </h3>
    <h4>twitter integration</h4>
    <ul>
        <li>Created @@eveshopping user</li>
        <li>Follow button added to header</li>
        <li>Fits and Shopping lists an be tweeted</li>
    </ul>
    <h4>Readonly views for normal shopping lists</h4>
    <p>
        Created a read-only view for notmal shopping lists.
    </p>
    <p>
        When someone has a link to a shopping list and access to it, it can see the list, will not know who is the owner, but can't modify it.
    </p>
    <h4>Bugs fixed</h4>
        <ul>
        <li>Units were not allowing numbers over 32767. Now they allow until 2147483647.</li>
    </ul>
}

@if (Model.Version.Equals("1.0.5"))
{

    <h3>Changes in version 1.0.5 </h3>
    <h4>Group lists</h4>
    <ul>
        <li>Added a readonly version of group lists. When a user has a link to a group list and is not the owner, he can see it, but not modify. Owner remains anonymous for the viewer.</li>
        <li>Added tweet buttom.</li>
        <li>Now is posible to attach to a group list a normal shopping lists and, also, static lists. Before was possible only statics.</li>
    </ul>
    <h4>Bugs fixed</h4>
    <ul>
        <li>The upload xml buttom was taking place in the fitting list section in some browsers.</li>
    </ul>
    
}

@if (Model.Version.Equals("1.0.6"))
{

    <h3>Changes in version 1.0.6 </h3>
    <h4>Improvements in usability</h4>
    <ul>
        <li>Volumes and Prices are now "," separated for thousands and millions.</li>
        <li>When changing the units of an item in the market items screen, there has been added links to increase: +1, +100, +1,000, +10,000, +100,000 units. Same for decreasing</li>
        <li>When changing the units of fitting in the add fitting screen, there has been added links to increase: +1, +100 units. Same for decreasing</li>
    </ul>
    <h4>IGB</h4>
    <ul>
        <li>Scripts revisited to make them work better in the in-game browser. Loading image used to block often in IGB.</li>
    </ul>
    <h4>Bugs fixed</h4>
    <ul>
        <li>When adding a new fit to a shopping list the item rows dont show multiple times anymore.</li>
        <li>Deletion of market items is working again in the market items screen.</li>
    </ul>
    
}

@if (Model.Version.Equals("1.1.0"))
{

    <h3>Changes in version 1.1.0 </h3>
    <h4>Database</h4>
    <ul>
        <li>Updated to Rubicon 1.3</li>
    </ul>
    <h4>New functionality</h4>
    <ul>
        <li>New step in shopping list creation added: My assets.</li>
        <li>This new screen allows to adjust the number of units that you want in your shopping list, manually or importing items from your assets.</li>
        <li>Can be imported items that you have in your hangar to automatically remove units of them from your shopping list.</li>
        <li>Summary screen have been simplyfied.</li>
    </ul>
    
}

@if (Model.Version.Equals("1.2.0"))
{

    <h3>Changes in version 1.2.0 </h3>
    <h4>Redesign</h4>
    <ul>
        <li>Home page has been redesigned in order to make more intuitive the creation of the first shopping list</li>
        <li>Added a new step in the shopping list that will allow to import batches of items in the shopping list</li>
    </ul>
    <h4>New functionality</h4>
    <ul>
        <li>This update start the development of a new serie of updates to come:</li>
        <li>(1.2.1) Will improve user experience when importing in the fittings and my asset tabs</li>
        <li>(1.2.2) Will allow to import contracts to shopping list</li>
        <li>(1.2.3) Will allow to import other batches of items to shopping list</li>
    </ul>
    <h4>Fixes</h4>
    <ul>
        <li>Now it is possible to export lists that contains 10 kind of items or less</li>
    </ul>

}