@{
    ViewBag.Title = "About";
    ViewBag.FullTitle = "EVE-shopping, About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<p>EVE-shopping is a tool designed to help pilots to do their shopping in EVE Online. The original idea came from the own necesity of its programmer to keep his ship hangar updated. </p>

<p>The current version of EVE-shopping is <span><a class="yellow-link" href="../changes/v/1-1-0">Version 1.1.0</a></span></p>
<h3>Contact</h3>
<p>In-game channel: <a class="yellow-link" onclick="joinEveShoppingChannel();">eve-shopping</a></p>
<p>Contact in-game to: <a class="yellow-link" onclick="openEoghanInfo();">Eoghan Gorthaur</a></p>
<p>Send mail to: <a href="mailto:info@eve-shopping.com" class="yellow-link">info@eve-shopping.com</a></p>
<p><a href="https://twitter.com/eveshopping" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @@eveshopping</a></p>
<h3>Planned (check our feedback tool)</h3>
<p>- Import fits from killmails.</p>
<p>- EVE-shopping will be responsive and 100% usable from smartphones.</p>
<p>- Will be possible to edit the fits saved in personal fittings.</p>
<h3>Change logs </h3>
<ul>
    <li>
<a class="yellow-link" href="../changes/v/1-1-0">Version 1.0.4</a>
    </li>
    <li>
<a class="yellow-link" href="../changes/v/1-0-5">Version 1.0.5</a>
    </li>
    <li>
<a class="yellow-link" href="../changes/v/1-0-6">Version 1.0.6</a>
    </li>
    <li>
<a class="yellow-link" href="../changes/v/1-1-0">Version 1.1.0</a>
    </li>
</ul>


