@{
    ViewBag.Title = "About";
    ViewBag.FullTitle = "EVE-shopping, About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<p>EVE-shopping is a tool designed to help pilots to do their shopping in EVE Online. The original idea came from the own necesity of its programmer to keep his ship hangar updated. </p>
<p>The current version of EVE-shopping is v<span>@EveShopping.Web.Utils.GetVersion()</span></p>
<h3>Contact</h3>
<p>In-game channel: <a class="yellow-link" onclick="joinEveShoppingChannel();">eve-shopping</a></p>
<p>Contact in-game to: <a class="yellow-link" onclick="openEoghanInfo();">Eoghan Gorthaur</a></p>
<p>Send mail to: <a href="mailto:info@eve-shopping.com" class="yellow-link">info@eve-shopping.com</a></p>
<p><a href="https://twitter.com/eveshopping" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @@eveshopping</a></p>
<h3>Planned (check our feedback tool)</h3>
<p>- Import fits from killmails.</p>
<p>- Update database to Rubicon</p>
<p>- EVE-shopping will be responsive and 100% usable from smartphones.</p>
<p>- Will be possible to edit the fits saved in personal fittings.</p>
<h3>Changes in v1.0.0.4 </h3>
<h4>twitter integration</h4>
<ul>
    <li>Created @@eveshopping user</li>
    <li>Follow button added to header</li>
    <li>Fits and Shopping lists an be tweeted</li>
</ul>
<h4>Readonly views for normal shopping lists</h4>
<p>
    Created a read-only view for notmal shopping lists.
</p>
<p>
    When someone has a link to a shopping list and access to it, it can see the list, will not know who is the owner, but can't modify it.
</p>
<h4>Bugs fixed</h4>
<p>- Units were not allowing numbers over 32767. Now they allow until 2147483647.</p>