@{
    ViewBag.Title = "FAQ";
    ViewBag.FullTitle = "EVE-shopping, FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FAQ</h2>

<h3>What?</h3>
<p>Eve shopping is a web application that uses shopping list to help pilots to manage easier their shopping.</p>
<p>Fittings can be imported to a shopping list from multiple sources and later any market item can be also included in the shopping list.</p>
<p>EVE-shopping tries that sharing a shopping list or fitting among users is as easy as providing a link to it.</p>
<h3>Why?</h3>
<p>Being myself an eve pilot that lose many ships, way too many..., my need of ship replacement brought me to look for a way to make shopping easier and try to dont forget anything when i am back at my base.</p>
<p>EVE-shopping is a tool designed to cover my personal needs for ship replacement in PVP. This needs are probably commong among many pilots, that is why it was created in a more general way than just for private use.</p>
<p>Even if the tool is initially designed for ship replacement for individuals or small groups, it grows and gets functionality every week basing on users feedback and can be useful for many of the shopping needs found in EVE Online.</p>
<h3>When?</h3>
<p>The first thought about EVE-shopping comes from January 2013. Development was started the 1st of September 2013. First time released to public on the 2nd of November 2013. Still working on it.</p>
<h3>Who is for?</h3>
<p>Initially was designed to cover the need for replacement ships that pvpers have.</p>
<p>Anyway the shopping list management is a common task useful for most kind of EVE Online pilots. Doesn't matter if they live in WH and need to go to do the sopping, industrials that want to buy materials for their manufactures, persons that distribute materials for their corp in null sec or other sort of player.</p>
<p>New functionality will be added to the tool to allow more than the basic shopping list management for users that need functionality beyond that.</p>
<h3>Do i need to register?</h3>
<p>You don't need to register to use EVE-shopping. Most of the shopping basic shopping list functionality is open to anonymous user.</p>
<p>But registering is recomended, you will have the chance to management your personal fit list and your shopping lists.</p>
<h3>How can i share a shopping list?</h3>
<p>Easy, just copy paste the Web address and provide it to your friends. They will be able to see it, they cant update them.</p>
<p>Shopping lists are anonymous to other users, they will never be able to identify you as an owner, exept if you add your own name to the shopping list name or description, of course.</p>
<h3>Does EVE-shopping use EVE API?</h3>
<p>Not yet, but the use of EVE API is planned to come soon.</p>
<p>It will be initially added for sharing permissions. At this moment all shopping list are public for readonly, but soon there will be the chance to make them private and share to EVE Online users. API will be used to identify users.</p>
<p>There is more API functionality planned, but it will be added progressively and the users will always know if their current API is enough for new funcionalities.</p>
<h3>Can i create shopping lists that only me or people in my corp can see?</h3>
<p>At this moment all shopping lists are public for read. Only the owner can modify them. This make them very easy and convenient for sharing.</p>
<p>But private shopping lists are coming soon. It will be possible to mark a shopping list as private and provide the list of EVE Online pilots, corporations or alliances that will have readonly access to the list. EVE API identification will be needed for it.</p>
<h3>When will EVE-shopping be completed</h3>
<p>It is a work in progress, new functionalites are being added continuously following short iterations. I dont espect to considere it completed ever, as the user feedback always find ways to improve the way it works.</p>
<h3>Will it have more functionality beyond shopping lists</h3>
<p>The main porpouse of EVE-shopping is to have a flexible and easy to use shopping list engine to be used for a wide range of users of EVE online.</p>
<p>It will always be the main criteria to add a new functionality that the flexibility and easy of use is not lost.</p>
<p>It may evolve in the future to a market place, where players can create contracts to provide shopping lists in some place, before some time and for a price. May this contract be in or out of corp.</p>
<p>But the main porpouse nowadays is to create a mature shopping list management tool. When this is considered enough, then we may look to another target.</p>
<h3>I considere myself an industrialist. Can't i use EVE-shopping?</h3>
<p>Of course you can, shopping list functionality is a common need.</p>
<p>Probably i have miss some common shopping needs for industrial community. Just contact and give us the feedback, it will be a pleasure to see if we can cover them!</p>
<h3>Will it work on smartphones?</h3>
<p>It will, the initial idea was that it would work from first release. There are many section of the web ready for it. But the whole is not working. I hop to get soon to the minimal functionality needed for the PC version so i can make it working for mobiles ASP.</p>
<h3>What language is it developed in?</h3>
<p>It is developed in C#, using MVC 4 framework in the server. Extensive use of JQuery and Ajax is done at the client side.</p>
<h3>Will it become an open source project</h3>
<p>There is no plan for it, but this may change in the future.</p>
<h3>I am a C# developer, can i help?</h3>
<p>EVE-shopping is not looking for new developers. But if you would like to collaborate, just contact, something may come up from it :)</p>



