@model EveShopping.Web.Modelo.EDVBase


@{
    ViewBag.Title = "Index";
    ViewBag.FullTitle = "EVE-shopping: Home";   
}

@*<h2>Index</h2>*@
<article>
    <header>
        <h1>What is EVE-shopping?</h1>
        <p>EVE-shopping is a tool developed to help pilots to replace their ships, based on imported fittings from EVE or tools like EFT.</p>
        <p>You can create your shopping list from imported fittings and add new items from the market.</p>
        <p>At the end you will have a nice summary with the total units of each item that you want.</p>
        <p>You will have a link to access market details from in-game browser, making the shopping really easy once you have your shopping list.</p>
        <p>You will gain lot of time and will not forget anything !!!</p>
        <p>Dont think it any longer, just go and create your first list: @Html.ActionLink("New List", "New", "Lists", null, new { id = "navlink_newList", @class = "yellow-link" }) </p>
    </header>
    <section>
        <h2>Shopping alone \o/</h2>
        <p>You will never again forget to buy anything when you go to pay a visit to your trade hub.</p>
        <p>It is possible to fill the shopping list as you realise what you want to buy. Don't need to do it all at once, your shopping list will stay and wait for you to think what you want to get.</p>
        <p>When you are in the trade hub, it will be very easy to access EVE market if you are using the in-game browser. The shopping list summary will provide you with links to the market... safe time to fight !</p>
        <p>Shopping has never been so easy !!!  \o/</p>
    </section>
    <section>
        <h2>Shopping with friends \ooo/</h2>
        <p>Often, when i leave my pirate base to access a trade hub, friends ask me to bring them some ships or modules.</p>
        <p>EVE-shopping allows to combine few shopping list in one, so you can fulfill the lists of your collegues.</p>
        <p>At the end, you will have information for the combined and also each of the single original lists.</p>
        <p>You will even know how much ISK your friends owe you !!! \ooo/</p>
    </section>
    <footer>
@*        <h3>article footer h3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>*@
    </footer>
</article>

<aside>
    <h3>Who is EVE-shopping for?</h3>
    <p>Doesn't matter if you are a well respected EVE member, corp leader, militia warrior, infectious pirate, industrialist or... the worst thing out there, trader!</p>
    <p>There is a time when we all do our shopping.</p>
    <p>EVE-shopping just make it easier :)</p>
</aside>
<aside>
    <h3>Quick start video</h3>
    <div class="video-container">
    <iframe src="http://www.youtube.com/embed/n91JkE4y58A" frameborder="0" ></iframe>
</div>
</aside>

@section scripts{

    <script src="~/Scripts/eshHome.js" type="text/javascript">
    </script>
}
