@{
    ViewBag.Title = "Videos";
    ViewBag.FullTitle = "EVE-shopping, Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Video tutorials</h2>
<p>You can also see our tutorials in our <a href="http://www.youtube.com/channel/UCQTqrquEag89EbYrtfbu9AA" class="yellow-link">YouTube channel</a>.</p>
<h3>Introduction 1: Quick start to EVE-shopping.</h3>
<p>Lear in less than 5 mins how to start using eve shopping as an anonymous user.</p>
<div class="video-container">
    <iframe src="http://www.youtube.com/embed/n91JkE4y58A" frameborder="0" width="560" height="315"></iframe>
</div>

<h3>Introduction 2: From anonymous to registered user.</h3>
<p>Short video that shows how easy is to become a registered user and get the benefits related to it for free: Personal fitting list and personal shopping list managers.</p>
<div class="video-container">
    <iframe src="http://www.youtube.com/embed/4PzrQoB73PY" frameborder="0" width="560" height="315"></iframe>
</div>
<h3>Introduction 3: Different types of shopping list.</h3>
<p>Learn the different uses for the shopping list types found in EVE-shopping: Shopping list, static shopping list and group shopping list.</p>
<div class="video-container">
    <iframe src="http://www.youtube.com/embed/yRtiTmln_7Y" frameborder="0" width="560" height="315"></iframe>
</div>
