<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EveShoppingContext" connectionString="Data Source=pator\egghelende;Initial Catalog=EveShopping;Persist Security Info=True;User ID=sa;Password=malaga;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>