@{
    ViewBag.Title = "New";
}

<div id="list-main">
    <div class="inside-section">
        <h2>Your fits</h2>
    </div>
</div>

<input id="fitPublicId" type="hidden" value="@ViewBag.FitPublicId" />

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")

     <script src="~/Scripts/eshImportFits.js" type="text/javascript">
    </script>
}

@section izquierda{
    <div id="list-left-menu">
        <div class="inside-section">
            <h2>Import fits</h2>    
            @using (Ajax.BeginForm("AnalyzeRawFit", new AjaxOptions { UpdateTargetId = "fitsAnalysed", OnSuccess = "ReactivateImportedFitsAccordion" }))
            {
            <form id="payment"  >
                <fieldset>
                        <legend>Raw fit</legend>
                        <textarea id="rawFit" name="rawFit" rows="5" placeholder="Paste here the fit that you want to import from EVE or supported fitting tools" required></textarea>
                        <button type="submit" class="buttonYellow" value="Analyze" />
                </fieldset>
            </form>
            }
            <div id="fitsAnalysed" class="subs-wrapper">
            </div>
        </div>
        </div>
    }