@model EveShopping.Models.EDVMyLists

@{
    ViewBag.Title = "MyLists";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FullTitle = "EVE-shopping, my lists";

}

<h3 class="main-title clearfix"><span>My shopping lists</span>
</h3>
<p>Select any or your shopping lists and you will able to view, edit or delete it.</p>

@{ViewBag.Controller = "Lists";}
<div id="idShoppingLists">
@Html.Partial("PVShoppingListsList", this.Model.Lists)
    </div>

@if (Model.GroupLists != null && Model.GroupLists.Count() > 0)
{
    <h3 class="main-title clearfix"><span>My group shopping lists</span>
    </h3>
    ViewBag.Controller = "Group";
    <div id="idGroupShoppingLists">
        @Html.Partial("PVShoppingListsList", this.Model.GroupLists)
    </div>
}


@section scripts{
    <script type="text/javascript" src="~/Scripts/eshMyLists.js"></script>
    <link href="~/content/footable.core.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/footable/footable.js" type="text/javascript"></script>
    <script src="~/scripts/footable/footable.sort.js" type="text/javascript"></script>
    <script src="~/scripts/footable/footable.paginate.js" type="text/javascript"></script>
    <script src="~/scripts/bootstrap-tab.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $('#summary-table').footable();
            $('.footable').data('page-size', 20);
        });
    </script>

}
