<h3>Import assets</h3>
<div class="container-input">
    <p>Use this panel to import the items that you want to be adjusted in the shopping list. The units that you import will adjust the (+/-) element in the current shopping list.</p>
        <form id="payment">
            <fieldset>
                <legend></legend>
                <span>Pase in this text area the items that you want to import</span>
                <textarea id="rawFit" name="rawFit" rows="5" placeholder="Paste here the fit that you want to import from EVE or supported fitting tools. Or upload an EVE XML file." required></textarea>
                <a id="idAnalyseBtn" class="buttonYellow-short">Analyse</a>
            </fieldset>
        </form>

    <div id="fitsAnalysed" class="subs-wrapper" data-esh-analysed-fits>
    </div>
</div>
