<h3>Import assets</h3>
<div class="container-input">
    <p>If you already have some units of the items that you want in your shopping list, you can import them here from the EVE Online client.</p>
            <fieldset>
                <legend></legend>
                <span>Copy from the assets or items windows in the EVE client the items that you want to import. And paste them in the text area below.</span>
                <textarea id="rawAssets" name="rawAssets" rows="5" placeholder="Paste in this text area the items that you want to import from your assets or items windows." required></textarea>
                <a id="idAnalyseBtn" class="buttonYellow-short">Analyse</a>
            </fieldset>
        </form>

                <div id="analyseResult" class="subs-wrapper"></div>
    <p style="font-size:small;">Tip: The items windows in EVE Client, wich you are using to copy, has to be in <a style="color:lightgreen">list</a> or <a style="color:lightgreen">details</a> mode, <a style="font-style:italic; font-weight:bold">not</a> in <a style="color:red">icons</a>.</p>
</div>
