@model IEnumerable<EveShopping.Modelo.EV.MarketItem>

<table data-esch-marketItemsInShoppingList>
    @foreach (var item in Model)
    {
        Html.RenderPartial("PVMarketItemEnShoppingList",item);
    }   
</table>