@model IEnumerable<EveShopping.Modelo.EV.EVStaticList>

@if (ViewBag.AllowDelete == null) { ViewBag.AllowDelete = true; }
@if (ViewBag.ShowGroupInfo == null) { ViewBag.ShowGroupInfo = false; }

<table id="tableStaticLists">
    <thead>
        <tr>
            <th data-sort-ignore="true">Name</th>
            @if (ViewBag.ShowGroupInfo || Model.First().IsGroup)
            {
                <th class="numericCol" data-sort-ignore="true">Owner nick</th>
                <th class="numericCol" data-sort-ignore="true">Added to group</th>
            }
            else
            {
                <th class="numericCol" data-sort-ignore="true">Creation date</th>
            }
            <th class="numericCol" data-sort-ignore="true">Price</th>
            <th class="numericCol" data-sort-ignore="true">Volume</th>
            <th data-sort-ignore="true"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (EveShopping.Modelo.EV.EVStaticList item in Model)
        {
            @Html.Partial("../Lists/PVStaticShoppingList", item)    
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <div class="pagination pagination-centered"></div>
            </td>
        </tr>

    </tfoot>
</table>
