/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #1F4E66;
}

/*::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

h1, h2, h3 {
    color: #78B2CC;
}

.header-container {
    /*border-bottom: 20px solid #4D809B;*/
    height: 60px;
    color: white;
}

    .header-container h1 {
        margin: 15px;
        line-height: 0px;
        font-family: sans-serif;
        font-weight: lighter;
        font-size: 1.8em;
        height: 30px;
    }

.footer-container,
.main aside {
    margin-top: 1em;
    /*border-top: 20px solid #4D809B;*/
}

.header-subtitle {
    font-style: italic;
    margin-left: 1em;
}

.header-container {
    background: url('../../Content/images/titleBackground.png') repeat-x #030303;
}

.footer-container footer,
.main aside {
    background: #1C1C1C;
}

.footer-container footer {
    padding: 5px 15px;
    color: white;
    font-size: 0.8em;
}

    .footer-container footer p {
        margin: 0px;
    }

.main aside {
    background: #3A3A3A;
}

.title {
    color: white;
}

#subheader-container {
    margin-bottom: 2px;
    width: 100%;
}

    #subheader-container #menu-pasos {
        width: 1056px;
        list-style: none;
        padding-left: 0;
    }

        #subheader-container #menu-pasos li {
            background: #3A3A3A;
            margin-right: 2px;
            padding: 2px 1em 2px;
            float: left;
        }

            #subheader-container #menu-pasos li a {
                color: #FFA500;
                text-decoration: none;
            }


                #subheader-container #menu-pasos li a:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

        #subheader-container #menu-pasos .selected {
            background: #1C1C1C;
        }

div.nav-container {
    background: url('./images/mainNavBG.png') repeat-x;
}

ul.nav-collapse {
    list-style: none;
    min-height: 40px;
    width: 100%;
    align-content: center;
    margin-top: 0px;
    text-align: center;
    padding: 0;
}

.nav-collapse li {
    background-image: url('./images/mainNavBG.png');
    background-position: top center;
    background-repeat: repeat-x;
    height: 40px;
    text-align: center;
    float: none;
    width: 100%;
    padding: 5px 1em 0;
    margin-right: 1px;
    display: inline-block;
}

    .nav-collapse li:hover {
        background-image: url('./images/navMenuBackHover.png');
    }



.nav-collapse a, a.nav-toggle {
    text-decoration: none;
    color: #FFA500;
    font-family: sans-serif;
    font-size: 1.1em;
}

    .nav-collapse a:hover, a.nav-toggle {
        cursor: pointer;
    }

a.nav-toggle {
    text-decoration: underline;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: url('./images/navMenuBack.png') repeat-x;
    max-height: 40px;
}

    nav a:hover,
    nav a:visited {
        color: white;
        background-position: 0 -40px;
    }

    nav a:hover {
        text-decoration: underline;
    }

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 15px;
    background-color: #1C1C1C;
    color: white;
}

    .main article h1 {
        font-size: 2em;
    }

    .main aside {
        color: white;
        padding: 0px 5% 10px;
    }


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Media Queries
   ========================================================================== */



@media only screen and (min-width: 480px) {

    /* ====================
    INTERMEDIATE: Menu
   ==================== */

    .nav-collapse li {
        width: auto;
    }

    .width33 {
        width: 45%;
    }


    nav a {
        float: left;
        width: 27%;
        margin: 14px 1.7%;
        padding: 18px 2%;
        margin-bottom: 0;
    }


    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    nav a.selected {
        background-color: #4D809B;
    }


    /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

    /* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

        /* ============
    WIDE: Menu
   ============ */

        .header-container .title {
            float: left;
        }



    nav {
        float: right;
        width: 38%;
    }

    .social-header {
        margin-left: 9em;
    }

    .nav-header {
        text-align: right;
    }

    /* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main .full {
        width: 100%;
    }

    .main aside {
        float: right;
        width: 28%;
    }

    .width33 {
        width: 32%;
    }
}

@media only screen and (min-width: 1140px) {

    /* ===============
    Maximal Width
   =============== */


    .wrapper, #subheader-container, .footer-container footer {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    .width33 {
        width: 32%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }

.hidden {
    display: none !important;
    visibility: hidden;
}

.notVisible {
    display: none;
}



.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/* ========== mios ==============================    */

input, textarea {
    font-family: Helvetica,​Helvetica Neue,​Arial;
    padding: 5px;
    font-size: 15px;
    /*text-shadow: 0px 1px 0px #fff;*/
    outline: none;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbe), to(#fff));
    background: -moz-linear-gradient(top, #bcbcbe, #fff);*/
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #717171;
    /*-webkit-box-shadow: 1px 1px 0px #1C1C1C;
    -moz-box-shadow: 1px 1px 0px #1C1C1C;
    box-shadow: 1px 1px 0px #1C1C1C;*/
}

    input:focus, textarea:focus {
        border: 1px solid #FFA500;
        -webkit-box-shadow: 0px 0px 5px #FFA500;
        -moz-box-shadow: 0px 0px 5px #FFA500;
        box-shadow: 0px 0px 5px #FFA500;
    }

    input.disabled, textarea.disabled {
        background-color: #E2E2E2;
        color: #272727;
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
/*textarea {
    padding: 5px;
    font-size: 15px;
    text-shadow: 0px 1px 0px #fff;
    outline: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #ccc;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}*/


#list-left-menu, #list-main, #help-container {
    background-color: #272727;
}

#list-left-menu, #list-main {
    min-height: 400px;
    float: left;
}

#full-main {
    width: 100%;
}

#list-left-menu {
    width: 39%;
    margin-right: 1%;
}

#list-main {
    width: 60%;
}

#help-container {
    padding: 3px 1em 3px;
    margin: 0.5em 0;
}

    #help-container h3 {
        margin: 0;
    }

    #help-container span {
        cursor: default;
    }

h3.main-title {
    width: 100%;
}

    h3.main-title span {
        float: left;
    }

        h3.main-title span.right {
            float: right;
        }

div.inside-section {
    margin: 3px 1em 3px;
}



::-webkit-input-placeholder {
    color: #999;
    font-size: 90%;
}

:-moz-placeholder { /* Firefox 18- */
    color: #999;
    font-size: 90%;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #999;
    font-size: 90%;
}

:-ms-input-placeholder {
    color: #999;
    font-size: 90%;
}

form {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 1%;
    width: 98%;
}

    form fieldset {
        padding: 1% 2px 1%;
    }

        form fieldset:last-of-type {
            margin-bottom: 0;
        }

    form legend {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }


    form fieldset input, form fieldset textarea {
        width: 95%;
    }

        form fieldset input[type="submit"] {
            width: auto;
        }



input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

fieldset ol {
    padding: 0;
    list-style: none;
}

.buttonYellow, .buttonYellow-short {
    -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c8800b), color-stop(1, #975e09) );
    background: -moz-linear-gradient( center top, #c8800b 5%, #975e09 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8800b', endColorstr='#975e09');
    background-color: #c8800b;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0;
    border: 1px solid #c8800b;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 28px;
    text-decoration: none;
    text-align: center;
    padding: 2px 1em 2px;
}

    .buttonYellow:hover, .buttonYellow-short:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #975e09), color-stop(1, #c8800b) );
        background: -moz-linear-gradient( center top, #975e09 5%, #c8800b 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#975e09', endColorstr='#c8800b');
        background-color: #975e09;
        cursor: pointer;
    }

    .buttonYellow:active, .buttonYellow-short:active {
        position: relative;
        top: 1px;
    }

.buttonYellow-short {
    padding: 0px 1em;
    height: 25px;
}

/* Navegación entre pasos ================================================*/


#links-navegacion-pasos-container {
    text-align: center;
    padding: 2em 0 1em;
}
/* Table ================================================================ */

table {
    font-size: 90%;
    width: 100%;
    border: 1px solid #1C1C1C;
    border-collapse: collapse;
    color: white;
    background-color: #272727;
}

td, td.pq-grid-cell {
    border-style: solid none solid none;
    border-width: 1px;
    border-color: #1C1C1C;
    border-bottom: 1px solid #1c1c1c;
    padding: 1px 4px;
    margin: 0;
}

th {
    text-align: left;
}

    th.numericCol, td.numericCol {
        text-align: right;
    }


tr {
    border: none;
    width: 100%;
}

    tr:hover {
        background: #3A3A3A;
    }

    tr.fila-par {
        background-color: #3A3A3A;
    }

    tr.fila-ultima {
        background-color: #1C1C1C;
    }

    tr.row-edit {
        background-color: #3A3A3A;
    }

thead tr:hover {
    background: none;
}

thead th:hover {
    background: #3A3A3A;
}

tfoot tr:hover {
    background: none;
}


td.col-edit input {
    width: 4em;
    margin: 0px 0.5em 0px;
    text-align: right;
}

td.col-edit span, span.link-menu {
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1px dotted #1C1C1C;
}

span.link-menu {
    margin-right: 0.5em;
    padding-right: 0.5em;
}


td a, .ui-widget-content td a, .yellow-link {
    color: #FFA500;
    text-decoration: none;
}

    td a:hover, .ui-widget-content td a:hover, .yellow-link {
        color: #FFA500;
        text-decoration: underline;
        cursor: pointer;
    }


div.subs-wrapper {
    /*margin-bottom: 1em;*/
}

    div.subs-wrapper h3 {
        background: url('images/arrow-down20.png') no-repeat;
        background-position: 0px 0.3em;
    }

    div.subs-wrapper h3, div.subs-wrapper-no-acc h3 {
        color: #FFF;
        border: solid 1px #1C1C1C;
        padding: 2px 2px 2px 24px;
        font-size: 100%;
        margin: 2px 0 0;
        background-color: #1c1c1c;
    }

        div.subs-wrapper h3.ui-state-active {
            background: url('images/arrow-up20.png') no-repeat;
            background-color: #1c1c1c;
            background-position: 0px 0.3em;
        }

div.subs-wrapper-no-acc h3 {
    padding-left: 4px;
}

div.subs-link-bar {
    width: 100%;
    text-align: right;
}

    div.subs-link-bar a {
        color: #FFA500;
        text-decoration: none;
        font-size: 85%;
        margin-right: 10px;
    }

        div.subs-link-bar a:hover {
            color: #FFA500;
            text-decoration: underline;
            font-size: 85%;
        }

/* lista Menu mercado =====================================================================  */


ul#market-path {
    width: 100%;
    list-style: none;
    padding: 0 2%;
}



    ul#market-path li {
        float: left;
        font-size: 90%;
        margin-right: 2px;
    }


    ul#market-path .market-path-val {
        color: #FFA500;
        cursor: pointer;
    }

    ul#market-path .market-path-sep {
        color: #FFA500;
    }

    ul#market-path .market-path-actual {
        color: #4D809B;
        font-size: 95%;
    }

    ul#market-path .market-path-val:hover {
        text-decoration: underline;
    }

div.menu-market ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 90%;
}

    div.menu-market ul li div {
        width: 96%;
        padding: 0 2% 0;
        border-top: 1px solid #1C1C1C;
    }

        div.menu-market ul li div:hover {
            background-color: #3A3A3A;
            cursor: pointer;
        }


/* ajax loader =================================================================== */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, 0 ) url('../../Content/Images/ajax-loader.gif') 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;
}

    body.loading .modal {
        display: block;
    }


@media (max-width: 600px) {
    #list-left-menu, #list-main, #help-container {
        width: 100%;
        margin-right: 0;
        margin-top: 5px;
    }
}

@media (min-width:748px) {
    body {
        background: url('../../Content/Images/bg.jpg') #000000 no-repeat;
    }
}

/* facebook */
.fb-like {
}

/* a como botones ========================================================== */

/*footable =============================================*/
.footable > tfoot .pagination {
    text-align: center;
}

    .footable > tfoot .pagination ul {
        display: inline-block;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        vertical-align: middle;
        margin: 0;
        padding: 0;
    }

        .footable > tfoot .pagination ul > li {
            display: inline;
        }

            .footable > tfoot .pagination ul > li > a,
            .footable > tfoot .pagination ul > li > span {
                float: left;
                border: 2px solid transparent;
                margin: 0 3px;
                color: #FFA500;
                background: transparent;
                padding: 1px 5px;
                text-decoration: none;
            }

                .footable > tfoot .pagination ul > li > a:hover {
                    background: #3A3A3A;
                }

            .footable > tfoot .pagination ul > li.disabled > a {
                color: #888;
            }

                .footable > tfoot .pagination ul > li.disabled > a:hover {
                    background: none;
                    cursor: default;
                }

            .footable > tfoot .pagination ul > li.active > a {
                border-color: #FFA500;
            }

            .footable > tfoot .pagination ul > li:first-child > a,
            .footable > tfoot .pagination ul > li:last-child > a,
            .footable > tfoot .pagination ul > li:first-child > span,
            .footable > tfoot .pagination ul > li:last-child > span {
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                border-radius: 0;
            }

#searchText {
    width: 70%;
}

/*Dialogs =============================*/

.dialog-info {
    background-color: lightblue;
}

.dialog-warning {
    background-color: lightyellow;
}

.dialog-error {
    background-color: lightcoral;
}

/*
 * SimpleModal Confirm Modal Dialog
 */

#confirm {
    display: none;
}

/* Overlay */
#confirm-overlay {
    background-color: #000;
}

/* Container */
#confirm-container {
    height: 240px;
    width: 480px;
    text-align: left;
    background: #3A3A3A;
    border: 2px solid #1C1C1C;
    padding: 0.5em;
}

    #confirm-container .header {
        height: 30px;
        line-height: 30px;
        width: 100%;
        background: #1c1c1c repeat-x;
        color: #78b2cc;
        font-size: 1.2em;
    }

        #confirm-container .header span {
            padding-left: 8px;
        }

    #confirm-container .message {
        color: white;
        margin: 0;
        padding: 12px 4px 12px 8px;
    }

    #confirm-container .buttons {
        line-height: 26px;
        width: 160px;
        float: right;
        padding: 10px 8px 0;
    }

        #confirm-container .buttons div {
            float: right;
            margin-left: 4px;
            width: 70px;
            height: 26px;
            color: #666;
            font-weight: bold;
            text-align: center;
            background: url(../img/confirm/button.gif) repeat-x;
            border: 1px solid #bbb;
            cursor: pointer;
        }

    #confirm-container a.modal-close,
    #confirm-container a.modal-close:link,
    #confirm-container a.modal-close:active,
    #confirm-container a.modal-close:visited {
        text-decoration: none;
        font-weight: bold;
        position: absolute;
        right: 10px;
        top: 2px;
        color: #ffa500;
        margin: 2px 2px 0 0;
    }

        #confirm-container a.modal-close:hover {
            color: #ccc;
        }

    #confirm-container p {
        color: white;
    }




/*  Login ========================================== */

#loginForm {
    border-right: solid 2px #3A3A3A;
    float: left;
    width: 55%;
}

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

.leftMargin {
    margin-left: 0.5em;
}

.left {
    float: left;
}

.right {
    margin-left: 0.5em;
    float: right;
}

img.delete {
    background: url('./images/delete-icon.png') no-repeat;
    padding: 3px;
    background-position-x: 3px;
    background-position-y: 3px;
}

img.edit {
    background: url('./images/edit-icon.png') no-repeat;
    padding: 3px;
    background-position-x: 3px;
    background-position-y: 3px;
}

img.export {
    background: url('./images/export-icon.png') no-repeat;
    padding: 3px;
    background-position-x: 3px;
    background-position-y: 3px;
}


    img.delete:hover, img.edit:hover, img.export:hover {
        border: solid 1px #FFA500;
        cursor: pointer;
    }

tr.fila-impar, tr.seleccionada {
    background-color: #272727;
}
