<h3>Import fits</h3>
<div>
    <p>Use this panel to import your fits into the shopping list. You can see more information about how to export them in the help.</p>
@*    @using (Ajax.BeginForm("AnalyzeRawFit", "Lists", new AjaxOptions { UpdateTargetId = "fitsAnalysed", OnSuccess = "ReactivateImportedFitsAccordion", OnFailure = "onFailureAnalyzeRawFit" }))
    {
        *@<form id="payment">
            <fieldset>
                <legend>Raw fit</legend>
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <a class="buttonYellow-short">Upload XML file</a>
                <!-- The file input field used as target for the file upload widget -->
                <input id="fu-my-auto-upload" type="file" name="files" accept="text/xml">
            </span>                <textarea id="rawFit" name="rawFit" rows="5" placeholder="Paste here the fit that you want to import from EVE or supported fitting tools. Or upload an EVE XML file." required></textarea>
                <a id="idAnalyseBtn" class="buttonYellow-short">Analyse</a>
@*                <button id="idAnalyseBtn" type="submit"  value="Analyse">Analyse</button>*@
            </fieldset>
        </form>

@*    }*@
    <div id="fitsAnalysed" class="subs-wrapper" data-esh-analysed-fits>
    </div>
</div>
